{% load static %}
{% load django_htmx %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% htmx_script %}
    {% tailwind_css %}
</head>

<body
    class="bg-gray-50 text-black font-serif leading-normal tracking-normal"
    hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
    >

    {% block content %}{% endblock %}

</body>
</html>
